ul.side-nav-menu li {
    list-style: none;
    position: relative;
}

ul.side-nav-menu {
    padding: 0;
    margin-top: 10px;
}

.side-nav-menu a {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 24px;
}

.side-nav-menu .mat-icon {
    width: 48px;
    height: 38px;
    line-height: 38px;
    font-size: 24px;
    text-align: center;
    color: #fff;
    margin-right: 12px;
}

.submenu li a {
    padding: 5px 10px;
}

ul.side-nav-menu li:hover .submenu {
    height: auto;
    transition: all ease 0.5s;
    min-height: auto;
}

ul.submenu {
    margin-left: 20px;
    height: 0px;
    overflow: hidden;
    transition: all ease 0.5s;
    min-height: 1px;
    margin-right: 10px;
}

ul.side-nav-menu li a:hover mat-icon {
    color: #15202e !important;
}

ul.side-nav-menu li a:hover {
    background: #fff;
    border-radius: 5px;
    color: #15202e !important;
    font-weight: 500;
}
/* md-spinner {
    float:left; 
    width: 24px; 
    height: 24px; 
    margin: 5px 10px 0px 0px;
  }
*/
.mat-spinner-loader svg{
    width: 24px!important; 
    height: 24px!important; 
    margin: 5px 10px 0px 0px;    
} 
.mat-progress-spinner svg{
    width: 24px!important; 
    height: 24px!important; 
    margin: 5px 10px 0px 0px;    
} 