<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->

<ul class="side-nav-menu">
  <li><a href=""> <i class="fa fa-bold mat-icon"></i> <span>חברה לדוגמא</span> </a></li>
  <li><a href="/office/"> <i class="fa fa-life-ring mat-icon"></i> <span>ראשי</span> </a></li>
  <li><a href="/office/DeskPlan.php"> <i class="fa fa-calendar-day mat-icon"></i> <span>שיעורים </span> </a></li>
  <li><a href="/office/ManageLeads.php?u=1"> <i class="fa fa-users mat-icon"></i> <span>מתעניינים </span> </a></li>
  <li><a href="/office/Client.php?Act=0"> <i class="fa fa-user mat-icon"></i> <span>לקוחות </span> </a></li>
  <li><a href="/office/Cal.php"> <i class="fa fa-tasks mat-icon"></i> <span>משימות</span> </a></li>
</ul>

<ul class="side-nav-menu snm2">
  <li><a href="/office/Items.php"><i class="fa fa-store mat-icon"></i> <span>חנות</span> </a></li>
  <li><a href="/office/ReportsDash.php"> <i class="fa fa-chart-line mat-icon"></i> <span>דוחות</span> </a></li>
  <li><a href="/office/landings/"> <i class="fa fa-life-ring mat-icon"></i> <span>דפי נחיתה</span> </a></li>
  <li><a href="/office/CartesetAll.php"> <i class="fa fa-list-alt mat-icon"></i> <span>הנה"ח</span> </a></li>
  <li><a href="/office/SettingsDashboard.php"> <i class="fa fa-cog mat-icon"></i> <span>הגדרות</span> </a></li>
  <li><a href="/office/support/FAQ.php"> <i class="fa fa-life-ring mat-icon"></i> <span>תמיכה</span> </a></li>
</ul>