<div mat-dialog-content>
  <div class="row">
    <div class="col-4 col-md-4 col-sm-4">
      <div>
        <ul type="none" fxFlex.gt-lg="50%">
          <h4>{{data.headersList[data.indx] | uppercase}}</h4>
          <div *ngFor="let headersVal of data.csvData; let i=index; let isLast = last;">
            <li *ngIf="i < 6">
              <p> <span>{{i+1}}.</span>&nbsp;&nbsp;{{headersVal[data.indx]}}</p>
            </li>
            <span *ngIf="isLast && i>=6">
              <strong>+{{i-5}}</strong>
            </span>
          </div>
        </ul>
      </div>
    </div>

    <div class="col-8 col-md-8 col-sm-8">
      <mat-form-field *ngIf="!showInput">
        <mat-label>Select an option</mat-label>
        <mat-select (valueChange)="selectColumn($event)" value={{data.selectedColumn.value}}>
          <mat-optgroup label="Predefined Columns">
            <mat-option *ngFor="let allavailableHeader of data.availableHeader " [value]="allavailableHeader.value">
              {{allavailableHeader.name}}
            </mat-option>
          </mat-optgroup>
          <mat-optgroup *ngIf="data.currImportType !== 'archive' " label="Custom Field">
            <mat-option value="new">Create new field</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <div>
        <form class="example-form" [formGroup]="addColumn" (ngSubmit)="submit()">
          <div *ngIf="showInput">
            <mat-form-field *ngIf="showInput" class="example-full-width">
              <mat-label>Field Name</mat-label>
              <input matInput formControlName="col_name" [errorStateMatcher]="matcher" placeholder="Column Name">
              <mat-error *ngIf="addColumn.controls.col_name.hasError('required')">
                Column name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <label id="example-radio-group-label">With the data Type of</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
              formControlName="datatype">
              <mat-radio-button [disabled]="!showInput" class="example-radio-button" *ngFor="let season of dataType"
                [value]="season.value">
                {{season.name | titlecase}}
              </mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="showInput && addColumn.controls.datatype.hasError('required')">
              Datatype is <strong>required</strong>
            </mat-error>
          </div>
          <div *ngIf="!(genderModal || yesNoModal) && data.selectedColumn.value !== ('gender' || 'getsms' || 'getemail' )">
            <button (click)="closeDialog()" type="button" mat-raised-button>Cancel</button>
            <button type="submit" [disabled]="loading" mat-raised-button color="primary">{{loading ? 'Loading..' :'Confirm'}}</button><div *ngIf="loading" class="smallloader"></div>
          </div>
        </form>
      </div>

      <div *ngIf="yesNoModal">
        <div *ngIf="data.selectedColumn.value === 'GetEmail'">
          <ul type="none" fxFlex.gt-lg="50%">
            <div *ngFor="let data of getMailUniqueArray; let i= index">
              <li>
                <span>{{i+1}}.</span>&nbsp;&nbsp;{{data}}
                <mat-form-field>
                  <mat-label>Select an option</mat-label>
                  <mat-select (valueChange)="selectYesNo($event,data,'getemail')">
                    <mat-option *ngFor="let yesNo of yesNo" [value]="yesNo.value">
                      {{yesNo.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </li>
            </div>
          </ul>
          <div>
            <button (click)="closeDialog()" type="button" mat-raised-button>Cancel</button>
            <button (click)="submit()" mat-raised-button color="primary">{{loading ? 'Loading..' :'Confirm'}}</button>
          </div>
        </div>
        
        <div *ngIf="data.selectedColumn.value === 'GetSMS'">
          <ul type="none" fxFlex.gt-lg="50%">
            <div *ngFor="let data of getSmsUniqueArray; let i= index">
              <li>
                <span>{{i+1}}.</span>&nbsp;&nbsp;{{data}}
                <mat-form-field>
                  <mat-label>Select an option</mat-label>
                  <mat-select (valueChange)="selectYesNo($event,data,'getsms')">
                    <mat-option *ngFor="let yesNo of yesNo" [value]="yesNo.value">
                      {{yesNo.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </li>
            </div>
          </ul>
          <div>
            <button (click)="closeDialog()" type="button" mat-raised-button>Cancel</button>
            <button (click)="submit()" mat-raised-button color="primary">{{loading ? 'Loading..' :'Confirm'}}</button>
          </div>          
        </div>
      </div>

      <div *ngIf="genderModal && data.selectedColumn.value === 'Gender'">
        <!-- <mat-list>
          <mat-list-item *ngFor="let data of genderUniqueArray"> 
            {{data}} 
            <mat-form-field >
              <mat-label>Select an option</mat-label>
              <mat-select (valueChange)="selectColumn($event)">
              <mat-option *ngFor="let gender of gender" [value]="gender.value">
                {{gender.name}}
              </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>
        </mat-list> -->
        <div>
          <ul type="none" fxFlex.gt-lg="50%">
            <div *ngFor="let data of genderUniqueArray; let i= index">
              <li>
                <span>{{i+1}}.</span>&nbsp;&nbsp;{{data}}
                <mat-form-field>
                  <mat-label>Select an option</mat-label>
                  <mat-select (valueChange)="selectGender($event,data)">
                    <mat-option *ngFor="let gender of gender" [value]="gender.value">
                      {{gender.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </li>
            </div>
          </ul>
          <div>
            <button (click)="closeDialog()" type="button" mat-raised-button>Cancel</button>
            <button (click)="submit()" mat-raised-button color="primary">{{loading ? 'Loading..' :'Confirm'}}</button>
          </div>
        </div>
      </div>

    </div>

  </div>
  <ng-template #customLoadingTemplate>
  </ng-template>
  <!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading> -->
</div>