<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->

<div class="container">
	<div class="d-flex m-auto">
		<mat-card>
			<i class="fa fa-user mat-icon"></i>
			<h4>Active Clients</h4> 
			<p class="p-2">
				Some text to explain the difference between the active ,lead and archive
			</p>
			<div class="pb-3" style="text-align: center;">
				<input type="file" hidden="true" id="active" class="form-control upload" (change)="changeListener($event)">
				<button mat-raised-button class="importBtn" (click)="selectFile('active')">Import CSV</button>
				<button mat-raised-button color="primary" class="ml-2 insertBtn" *ngIf="columndata.length>0 && insertCsvFile ==='active'" (click)="submitInsertActiveApi()" >{{loading ? 'Loading..' : 'Insert'}}</button>
			</div>
		</mat-card>
		<mat-card>
			<i class="fa fa-users mat-icon"></i>
			<h4>Lead</h4>
			<p class="p-2">
				Some text to explain the difference between the active ,lead and archive
			</p>
			<div class="pb-3" style="text-align: center;">
				<input type="file" hidden="true" id="lead" class="form-control upload" (change)="changeListener($event)">
				<button mat-raised-button class="importBtn" (click)="selectFile('lead')">Import CSV</button>
				<button mat-raised-button color="primary" class="ml-2 insertBtn" (click)="submitInsertLeadApi()" *ngIf="columndata.length>0 && insertCsvFile ==='lead'" >{{loading ? 'Loading..' : 'Insert'}}</button>
			</div>
		</mat-card>
		<mat-card>
			<mat-icon aria-hidden="false" aria-label="Example home icon">archive</mat-icon>
			<h4>Archive</h4>
			<p class="p-2">
				Some text to explain the difference between the active ,lead and archive
			</p>
			<div class="pb-3" style="text-align: center;">
				<input type="file" hidden="true" id="archive" class="form-control upload" (change)="changeListener($event)">
				<button mat-raised-button class="importBtn" (click)="selectFile('archive')">Import CSV</button>
				<button mat-raised-button color="primary" class="ml-2 insertBtn" *ngIf="columndata.length>0 && insertCsvFile ==='archive'" (click)="submitInsertArchiveApi()">{{loading ? 'Loading..' : 'Insert'}}</button>
			</div>
		</mat-card>
	</div>

		<!-- <div class="d-flex flex-wrap file_uploading">
			<div>
				<mat-card-title>File Upload</mat-card-title>
			</div>
			<div class="ml-auto">
				<input type="file" class="form-control upload" (change)="changeListener($event)">
			</div>
			<button mat-raised-button color="primary" (click)="csvDownload()">Donwload Filtered CSV</button>
		</div> -->
	<div class="container-fluid">	
		<div class="add_background">
			<div class="row" style="margin:0px;">
				<div fxFlex.gt-lg="50%" class="outer_flx" *ngFor="let headersVal of headersList; let i=index">
					<div [ngClass]="ifHeaderSet(headersVal)">
						<div class="colms_custom col-md-4">
							<div [ngClass]="getUnique(headersVal)">
								<ul fxFlex.gt-lg="50%">
									<div>
										<button class="select_col_btn" mat-raised-button color="primary" (click)="openDialog(headersVal,i)">{{showSelectedHeader(headersVal,i+1)}} <mat-icon>arrow_drop_down</mat-icon></button>
										<span *ngIf="checkMapingValue(headersVal)" class="material-icons icon">done</span>
									</div>
									<div class="title_and_filter">
										<h4>{{headersVal}}:</h4>										
									</div>
									<div *ngFor='let headData of csvData; let ik=index; let isLast = last;'>
										<li *ngIf="ik < 5">
											<p class="text-muted"><span>{{ik+1}} </span> {{csvData[ik][i]}}</p>
										</li>
										<span *ngIf="isLast && ik>=5">
											<strong>+{{ik-4}}</strong>
										  </span>
									</div>
									
								</ul>
							</div>
							<!-- <div class="read_more"><a href="#">10 More</a></div> -->
						</div>
					</div>
				</div>
				<div class="container" *ngIf="showInsertBtn">
					<button mat-raised-button color="primary" class="insertBtnBtm center-block" *ngIf="insertCsvFile ==='archive'" (click)="submitInsertArchiveApi()">{{loading ? 'Loading..' : 'Insert'}}</button>
					
					<button mat-raised-button color="primary" class="insertBtnBtm center-block" *ngIf="insertCsvFile ==='active'" (click)="submitInsertActiveApi()">{{loading ? 'Loading..' : 'Insert Active Clients'}}</button>
					
					<button mat-raised-button color="primary" class="insertBtnBtm center-block" *ngIf="insertCsvFile ==='lead'" (click)="submitInsertLeadApi()">{{loading ? 'Loading..' : 'Insert Leads'}}</button>
				</div>
			</div>
		</div>
	</div>
	<ng-template #customLoadingTemplate>        
    </ng-template>
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>
