button:focus{
	outline:none!important;
	box-shadow:none!important;
}

.file_uploading {
    padding: 20px 40px 0;
}


.colms_custom {
    width: 100%!important;
    max-width: 95%!important;
    background: #ffffff;
    max-height: 350px;
    overflow: auto;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    padding: 10px 0 10px;
    margin: 20px 10px 0;
}

.header-set .colms_custom {
    border: 2px solid #28a745;
}
.outer_flx {
    width: 100%!important;
    max-width: 25%!important;
/*    flex: inherit!important;
    display: inherit;*/
}


.add_background {
    background: #f3f9ff;
}

button.mat-button.mat-button-base {
    background: transparent;
    border-radius: 3px;
    padding: 0;
    margin: 0 15px;
}


.colms_custom h3 {
	color: #182433!important;
    font-size: 20px;
    padding: 10px 15px 10px;
    font-weight: 600;
    margin: 0;

}


.colms_custom h4 {
    font-size: 15px;
    text-transform: capitalize;
    color: #182433;
    font-weight: 500;
    background: #f3f9ff;
    width: 100%;
    display: inline-block;
    padding:10px 15px;
    margin: 20px 0 20px 0;
}

p.text-muted span {
    padding: 0 20px 0 0px;
}

mat-list.mat-list.mat-list-base {
    width: 100%;
    max-width: 100%!important;
}

button.mat-raised-button.mat-button-base.mat-primary {
    margin: 0 15px 10px;
}

p.mat-line.text-muted span {
    padding: 0 15px 0 0;
}


.text-muted {
    color: #182433 !important;
    font-size: 14px!important;
    font-weight: 500!important;
    padding: 0 0 0 20px;
}


.colms_custom ul {
    width: 100%;
    max-width: 100%!important;
    margin: 0px 0 0;
}


.colms_custom ul li{
	border-top: 1px solid #e8e8e8;
}

.colms_custom ul li:last-child{
	border-top: 1px solid #e8e8e8;
}

mat-list-item.mat-list-item.ng-star-inserted {
    border-top: 1px solid #e8e8e8;
    height:44px!important;
}

mat-list-item.mat-list-item.ng-star-inserted:last-child{
	border-bottom: 1px solid #e8e8e8;
}

.read_more {
    width: 100%;
    text-align: center;
    padding:10px 0 0px; 
}

.read_more a {
    font-size: 15px;
    color: #182433;
 	text-decoration:none;
    font-weight: 600;
}


.read_more a:hover{
	color: #3788e5;
}

ol, ul, dl{
	margin:0px;
	padding:0px;
}

mat-card.mat-card {
    background: transparent;
    box-shadow: none !important;
    max-width: 1170px;
    margin: 20px auto;
}

.m-auto .mat-card {
    padding: 20px !important;
    margin: 15px;
    background: #fff;
    box-shadow: 0px 0px 11px 0px #0002 !important;
}

.m-auto .mat-card .mat-icon {
    width: auto;
    height: auto;
    font-size: 60px;
    color: #e4e4e4;
}

.mat-card h4 {
    padding: 0 15px;
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 10px;
    display: inline;
    background: transparent;
}

.mat-card p.p-2 {
    color: #e4e4e4;
}

.mat-card button.mat-raised-button.filter_Button {
    width: 100%;
    max-width: 120px;
    line-height: 40px;
    box-shadow: none;
    border: 1px solid #e4e4e4;
    color: #e4e4e4;
}

.mat-card button.mat-raised-button.select_col_btn{
    width: auto;
    max-width: 100%;
    line-height: 40px;
    box-shadow: none;
    border: 1px solid #e4e4e4;
    color: #e4e4e4;
    padding: 0px 8px;
}

.m-auto .mat-card:hover * {
    color: #000 !important;
}

button.mat-raised-button.mat-button-base:hover * {
    color: #fff;
}

button.mat-raised-button.mat-button-base:hover {
    background: #1e88e5;
}

.colms_custom.col-md-4::-webkit-scrollbar-thumb {
    background: #222;
}

.colms_custom.col-md-4::-webkit-scrollbar-track {
    background: #ddd;
}
.colms_custom.col-md-4::-webkit-scrollbar {
    width: 3px;
}

span.material-icons.icon.ng-star-inserted {
    margin: 7px 10px;
    position: absolute;
    right: 0;
}

/*******************************Media Query*******************************/

@media(max-width: 767px){
.outer_flx{max-width:100%!important; width: 100%;}
.add_background{padding:10px 0 0px!important;}
button.mat-button.mat-button-base{font-size: 12px;padding: 3px 11px;}
}

@media(min-width:768px) and (max-width: 1024px){
.mat-card .mat-card-title{font-size:15px;}
.outer_flx{max-width:50%!important; width: 100%;}
.colms_custom h3{font-size:16px;}
button.mat-button.mat-button-base{font-size: 12px;padding: 3px 14px;}
}

.icon{
    background-color: #00b33c;
    border-radius: 15px;
    color: whitesmoke;
    float:right;
    margin : 10px 10px
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.mat-raised-butto.importBtn:active, .mat-raised-butto.importBtn:hover{
    color: #fff;
}
.mat-raised-butto.insertBtn:active, .insertBtn:hover{
    color: #fff;
}


.smallloader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-block;
    animation: loaderspin 2s linear infinite;
  }

  @-webkit-keyframes loaderspin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes loaderspin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .insertBtnBtm{
    display: block;
    text-align: center;
    margin: 30px auto!important;
    width: 50%;
  }