mat-sidenav#snav {
    background: #182434;
    transform: none;
    visibility: visible !important;
    width: 52px;
}

mat-sidenav#snav.mat-drawer-opened {
    width: 240px;
}

#snav app-sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

#snav app-sidebar:before {
    content: "";
    width: 50px;
    position: absolute;
    height: 100%;
    background: #15202e;
}

mat-sidenav#snav:hover {
    width: 240px;
}