/* You can add global styles to this file, and also import other style files */


mat-sidenav#snav.mat-drawer-opened .side-nav-menu li mat-icon {
    margin-right: 12px;
}

mat-sidenav#snav .side-nav-menu a mat-icon {
    margin-right: 0;
}

mat-sidenav#snav.mat-drawer-opened .side-nav-menu li span {
    display: block;
}

mat-sidenav#snav .side-nav-menu li span {
    display: none;
}

mat-sidenav#snav .mat-drawer-inner-container {
    overflow: hidden;
}

mat-sidenav#snav.mat-drawer-opened .mat-drawer-inner-container {
    overflow: auto;
}

mat-sidenav#snav:hover .side-nav-menu li span {
    display: block;
}

mat-sidenav#snav:hover .side-nav-menu li a mat-icon {
    margin-right: 12px;
}